
/* Home page */
.outer-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-go-to-cart{
  width: 40vw;
  margin: auto;
  margin-top: 5rem;
}